/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * font-family: 'Montez', cursive;
 * font-family: 'Patrick Hand SC', cursive;
 * font-family: 'Love Ya Like A Sister', cursive;
*/




html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Cris Kelly's custom styles
   ========================================================================== */

body, .content h1, .content h2, .content h3,
.reg-box h3, .pricing-wrapper h4, .top-content h4,
.footer-content-l h3 {
  font-family: 'Love Ya Like A Sister', cursive;
}

/* navigation menu */

.navbar {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}
.navbar-default, .footer {
  background-color: #53a107;
}
.navbar-default .navbar-brand, .footer {
  color: white;
}
.navbar .navbar-nav>li>a {
  color: white;
  font-size: 1.5em;
}

/* top content */
.top-content {
  background: url('../img/grass.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 325px;
}
.logo {
  width: 50%;
  z-index: 10;
  float: left;
  padding-top: 30px;
}
.box {
  height: 100px;
  width: 150px;
  background-color: #f8aeb0;
  text-align: center;
  padding: 2px 5px;
  border-radius: 10px;
  float: left;
  border: 2px solid #6c4427;
  position: relative;
  top: 50px;
}
.box:hover {
  background-color: #ffffff;
  border: 2px dotted #6c4427;
}
.box a {
  display: inline-block;
  width: 100%;
  color: #6c4427;
  font-size: 3rem;
  padding: 25px 0;
}
.box a:hover, .box:hover {
  text-decoration: none;
}
.shop-box {
  left: 10px;
}
.sell-box {
  left: 25px;
}
.top-content h4 {
  float: left;
  position: relative;
  top: 50px;
  left: 80px;
}
.top-content h4 a {
  color: #53a107;
}
.top-content h4 a:hover {
  text-decoration: none;
  opacity: .5;
}


/* content styles */

.content {
  position: relative;
  top: 50px;
  clear: both;
  font-size: 2em;
}
.content a {
  text-decoration: none;
}
.home-content {
  width: 90%;
  margin: 0 auto;
}
.home-content h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

/* shoppers page styles */

.shoppers-content h1, .sellers-content h1,
.returns-content h1, .registered-content h1 {
  text-align: center;
}
.shoppers-content h1, .sellers-content h3,
.sellers-content h1, .shoppers-content h3,
.returns-content h1, .returns-content h3,
.registered-content h1 {
  color: #f8aeb0;
  text-shadow: 1px 1px 1px black;
}
.shoppers-content h3 {
  text-align: center;
}
/*.shoppers-content h2, .shoppers-content h3,
.sellers-content h2, .sellers-content h3 {
  font-size: .8em;
}*/
.shoppers-content h2, .sellers-content h2 {
  color: #314FA6;
}
.shoppers-content h1, .shoppers-content h2,
.sellers-content h1, .registered-content h1,
.returns-content h1 {
  border-bottom: 2px dotted #6c4427;
  padding-bottom: 5px;
}
.sale-location {
  margin: 0 auto 40px auto;
  text-align: center;
  color: #53a107;
  width: 85%;
}
.shoppers-content .sale-location h3 {
  font-size: 2em;
  color: #53a107;
  text-shadow: 1px 1px 1px black;
}
.sale-location p {
  line-height: .8em;
  margin: 18px 0;
}
.shop-times-wrapper {
  width: 85%;
  margin: 0 auto;
}


/* seller's page styles */

.sellers-content h3, .shoppers-content h3 {
  color: #f8aeb0;
}
.sellers-content ol {
  margin: 30px;
}
.sellers-content a, .returns-content a,
.sellers-content ol li, .shop-lower-content a,
.registered-content a {
  color: #53a107;
}
.sellers-content a:hover,
.returns-content a:hover,
.shop-lower-content a:hover,
.registered-content a:hover,
.footer a:hover {
  opacity: .7;
}

/* pricing page styles */

.pricing-wrapper h1, .registered-content h1 {
  font-size: 2rem;
}
.pricing-wrapper p, .pricing-wrapper h4 {
  font-size: 1rem;
}

/* footer styles */

.footer {
  position: relative;
  margin: 100px auto 25px auto;
  height: 133px;
}
.footer-content-l, .footer-content-r {
  position: absolute;
}
.footer-content-l h3 {
  text-shadow: 1px 1px 1px black;
  margin: 0 0 10px 0;
}
.footer-content-l p {
  margin: 0;
}
.footer a, .footer-content-l p {
  font-size: 2em;
  color: white;
}
.footer-content-l a:hover {
  text-decoration: none;
  color: black;
}
.footer-content-r {
  right: 30px;
  top: 28px;
}





img {
  max-width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* tablets and desktop */
@media only screen and (min-width: 780px) {
  .container {
    width: 750px;
  }
}


@media only screen and (max-width: 779px) {
  .container {
    width: 500px;
  }
  .top-content {
    height: 450px;
    background-size: contain;
    background-position-y: 63%;
  }
  .logo {
    max-width: 100%;
    height: 100%;
    padding-top: 10px;
    margin: 0 auto;
    float: none;
  }
  .box {
    top: -250px;
  }
  .shop-box {
    left: 70px;
  }
  .sell-box {
    left: 98px;
  }
  .content {
    clear: both;
    top: -150px;
  }
  .top-content h4 {
    top: -150px;
    float: none;
    position: relative;
  }
  .top-content h4 a {
    position: absolute;
    left: 66px;
  }
  .footer {
    margin: 0;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
