---
title: Pricing
---

<div class="pricing-wrapper">
  <h1>Pricing Guidelines</h1>

  <p>Because people are shopping this event specifically to purchase baby and child-related items, AND our items are clean, quality items, you can price your items a bit higher&#8230;but remain objective! For example, would YOU pay $4 for a used shirt from that huge discount retailer when you know you could have bought it new on clearance for close to the same amount? As another example, if you originally paid BIG money for an outfit and it&#8217;s still in like-new condition, consider including on your seller&#8217;s tag description the retail price you paid. It will help justify the current price you are trying to sell it for.</p>
  <p>Additionally, if you plan to participate in the Sunday half-price sale, you might want to price your items just a touch higher. That way, if they aren&#8217;t sold until Sunday, you will still get a fair commission for your items. If you are NOT discounting your items, we suggest keeping your prices just a touch lower so they will sell on Saturday.</p>
  <h4>NOTE &#8212; Minimum price per tag is $2.00. Prices must be in increments of $.50. Multiple items may be bundled together to justify your asking price.</h4>
  <p><em>Don&#8217;t hesitate to contact us if you need additional guidance when pricing your merchandise &#8211; we are always happy help.</em></p>
  <p>Generally speaking, this pricing structure should give you a good starting point:</p>

</div>