---
title: Return Consignors
---

<div class="registered-content">
  <h1>Yippee!! You&#8217;ve Registered!!</h1>
  <p>Now you will be able to enter and print your tags in your little moments of free time.</p>
  <p>Some helpful tools:</p>
  <p><a href="pricing_guidelines.pdf" target="_blank">PRICING GUIDELINES</a></p>
  <p><a href="instructions.pdf" target="_blank">PREPPING AND TAGGING INSTRUCTIONS</a></p>
  <p><a href="returns.html">CONSIGNOR&#8217;S HOMEPAGE</a></p>
  <p>Remember to sign up for a <a href="http://www.mysalemanager.net/drp_start.aspx?partnercode=DAND" target="_blank">DROP OFF APPOINTMENT</a>, and if you&#8217;d like an increase in your commission, <a href="http://www.mysalemanager.net/wrk_start.aspx?partnercode=DAND" target="_blank">VOLUNTEER FOR A WORK SHIFT</a>!</p>
  <p>If you have any questions, or if you&#8217;d like to purchase a tagging gun and hang tags, please <a href="mailto:mattjenraz@gmail.com?subject=Dandelion+Wishes">LET US KNOW</a>.</p>
  <p>Have fun, and we&#8217;ll see you Friday, March 7th!</p>
</div>