---
title: Return Consignors
---

<div class="returns-content">
  <h1>Welcome back to Dandelion Wishes!!!</h1>

  <p>Excited to purge some of the clutter out of your children&#8217;s toy boxes and closets? (And then shop the sale for new stuff to take its place?? Its okay, we all do it.)</p>

  <p>So let&#8217;s get to it!</p>

  <p>First, send an <a href="mailto:mattjenraz@gmail.com?subject=Dandelion+Wishes">EMAIL</a>, with your name and consignor number, and we will get you registered for the Spring Sale. (Going this route will waive the $10 registration fee.)</p>

  <p>Then you can sign up to <a href="http://www.mysalemanager.net/wrk_start.aspx?partnercode=DAND" target="_blank">VOLUNTEER</a> if you&#8217;d like, select a <a href="http://www.mysalemanager.net/drp_start.aspx?partnercode=DAND" target="_blank">DROP-OFF</a> time, and start <a href='http://www.mysalemanager.net/itm_start.aspx?partnercode=DAND' target='_blank'>ENTERING AND PRINTING</a> tags!</p>

  <p>Here are <a href="instructions.pdf" target="_blank">PREPPING AND TAGGING INSTRUCTIONS</a> and a <a href="pricing_guidelines.pdf" target="_blank">PRICING GUIDELINE</a>, if you still need them.</p>

  <p>And if you have any other questions, please feel free to <a href="mailto:mattjenraz@gmail.com">EMAIL</a> us. We&#8217;re happy to help.</p>
</div>



